.follow, .bank_and_apps_store {
  padding-bottom: 2rem;
  display: flex;
}

.col-6 {
  min-width: 50%;
  max-width: 100%;
}

.s-title{
    color: #fff;
    font-size: 18px;
    margin-bottom: 8px;
}

.links {
  width: auto;
  height: 42px;
  margin-right: 8px;
}

.address{
  color: #fff;
}

@media(max-width: 800px){
  .follow, .bank_and_apps_store{
    flex-direction: column;
  }
  .col-6 {
    margin-bottom: 1rem;
  }
}